{% extends "layout.html" %}

{% block title %}Seuratut{% endblock %}
{% block content %}
<h2>Seuraa näitä blogaajia</h2>
{%for user in users%}
    {%if user.is_admin%}
        {{user.username}}

        <form action="/follows" method="POST">
        <input type = "hidden" value="{{user.username}}" name="username">
        <input type = "hidden" value="{{user.id}}" name="followed_id">
        <input type = "submit" value= "seuraa">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    {%endif%}    
{%endfor%}
<hr>
<h2>Seuratut</h2>
{%for user in followed%}
    {{user.username}}
    <form action="/follows" method="POST">
        <input type = "hidden" value="{{user.username}}" name="username">
        <input type = "hidden" value="{{user.id}}" name="followed_id">
        <input type = "submit" value= "lopeta seuraaminen">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>




{%endfor%}
<nav>
    <p>Olet kirjautunut nimellä <span class="username">{{ session.username }}</span></p>
    {% if session.is_admin == True %}
    <a href="/new_post">lisää video</a>
    {% endif %}
    <a href="/">etusivu</a>
    <a href="/own_feed">oma syöte</a>
    <a href="/follows">käyttäjät</a>
    <a href="/logout">kirjaudu ulos</a>
</nav>
{% endblock %}
