{% extends "layout.html" %}
{% block title %}Seuratut{% endblock %}
{% block content %}
<h2>Seuraa näitä blogaajia</h2>
{%for user in users%}
    {%if user.is_admin%}
        {{user.username}}

        <form action="/follows" method="POST">
        <input type = "hidden" value="{{user.username}}" name="username">
        <input type = "hidden" value="{{user.id}}" name="followed_id">
        <input type = "submit" value= "seuraa">
        </form>
    {%endif%}    
{%endfor%}
<hr>
<h2>Seuratut</h2>
{%for fol in followed%}
    {{fol.username}}




{%endfor%}
{% endblock %}
