{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<hr>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/new_post">Lisää video</a>
<a href="/logout">Kirjaudu ulos</a>

<hr>

{% for post in posts %}
    <!--displaying the date-->
    {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }} -

    <!--embedding video-->
    {% if post.youtube_url %}
        <iframe width="560" height="315"
            src="{{ post.youtube_url }}"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    {% endif %}

    <p>{{ post.body}}</p>
    <br>
    <form action="/new_comment" method="POST">
        <input type="hidden" value="{{post.id}}" name = "post_id"/>
        <textarea name="comment" rows="2" cols="40"></textarea>
        <input type="submit" value="Lähetä">
    </form>
    {%for comment in post.comments %}
        {{comment.comment}}
        <br>
    {% endfor %}
{% endfor %}

    
{% else %}
<a href="{{ url_for('login') }}">Kirjautuminen</a>
{% endif %}

{% endblock %}