<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blogisovellus- {% block title %}{% endblock %}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');
        </style>
</head>

<body>
    <div class ="pavement">
    <header>
        <h1 class="new-rocker-regular">Blogisovellus</h1>
        
    </header>
    {% block content %}{% endblock %}
    </div>
</body>